<h1> WELCOME TO JONGWON'S HOME </h1>
<br><br>

<img src="images/about/JP.png" width="250px"/> 
<img src="images/about/JP2.png" height="300px"/>

<h3> JONGWON PARK </h3>
I am a postdoctoral researcher in the Department of Astronomy at Yonsei University. I obtained my bachelor's and master's degree from Yonsei University in South Korea, where I worked on various topics related to galaxy evolution with Professor Sukyoung K. Yi. In 2018, I moved to the University of Maryland, College Park, to study the formation of Population III stars with Professor Massimo Ricotti. After receiving my Ph.D. in May 2024, I returned to Yonsei University and I am currently collaborating with Professor Taysun Kimm and Sukyoung Yi on various topics in galaxy formation. <br><br>
    
My research interests include the formation of metal-free and metal-poor stars and their impact on the formation of the first galaxies and dwarf galaxies. To study these, I utilize the hydrodynamics code RAMSES and conduct computer simulations. My work involves implementing various physical processes (chemistry, radiative processes, etc.), performing simulations using a supercomputer, and physically interpreting the results. <br><br>

<h3> CV </h3>
<a href="https://github.com/jwpark5064/jwpark5064.github.io/blob/main/CV.pdf" target="new">CV</a> <br><br>

<h3> RESEARCH INTERESTS </h3>
<ul>
  <li> Formation of Population III Stars and Metal-poor Stars
  <li> Feedback Mechanisms of the First Stars
  <li> Formation of the First Galaxies
  <li> Formation of Dwarf Galaxies
</ul><br><br>

<h3> PERSONAL HISTORY </h3>
<ul>
  <li> 2024.06 - Current: Postdoctoral Research, Yonsei University
  <li> 2018.09 - Current: Ph.D., University of Maryland, College Park
  <li> 2017.03 - 2018.06: Post Master Researcher, Yonsei University
  <li> 2015.03 - 2017.02: M.S., Yonsei University
  <li> 2008.08 - 2010.10: Military Service (Republic of Korea Air Force)
  <li> 2008.03 - 2015.02: B.S., Yonsei University
</ul><br><br>

<h3> CONTACT INFORMATION </h3>
<ul>
  <li> jwpark5064 (at) gmail (dot) com
</ul><br><br>
