<h1> Welcome to Jongwon's home </h1>
<br><br>

<img src="images/about/JP.png" width="250px"/> 
<img src="images/about/JP2.png" height="300px"/>

<h3> JONGWON PARK </h3>
I am a Ph.D. candidate in the Astronomy Department at the University of Maryland, College Park. 
I got my bachelor's and master's degree from Yonsei University in South Korea and worked on various topics of galaxy evolution with professor Sukyoung K. Yi.
I moved to the University of Maryland in 2018 and have been working with professor Massimo Ricotti.    <br><br>
    
My research interest is the formation of Population III stars and their feedback. 
To study them, I make use of radiative hydrodynamics code RAMSES-RT and carry out computer simulations. 
My job includes implementing various physics (chemistry, radiative processes, etc.), performing simulations using a supercomputer, and understanding the results physically. <br><br>

<h3> CV </h3>
<a href="https://www.astro.umd.edu/~jwpark/data/CV.pdf" target="new">CV</a> <br><br>

<h3> RESEARCH INTERESTS </h3>
<ul>
  <li> Formation of the First Stars and Galaxies
  <li> Feedback Mechanisms of the First Stars
</ul><br><br>

<h3> PERSONAL HISTORY </h3>
<ul>
  <li> 2018.09 - Current: Graduate Student, University of Maryland
  <li> 2017.03 - 2018.06: Post Master Researcher
  <li> 2015.03 - 2017.02: M.S., Yonsei University
  <li> 2008.08 - 2010.10: Military Service (Republic of Korea Air Force)
  <li> 2008.03 - 2015.02: B.S., Yonsei University
</ul><br><br>

<h3> CONTACT INFORMATION </h3>
<ul>
  <li> jwpark (at) umd (dot) edu
</ul><br><br>
